.coin {
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.13);
    border-radius: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    cursor: pointer;

    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.09);
    }

    &__name,
    &__fullname,
    &__price {
        text-align: center;
        font-weight: bold;
    }

    &__name {
        flex-basis: 25%;
    }
    &__fullname {
        flex-basis: 35%;
    }
    &__price {
        flex-basis: 35%;
    }
}
